# Supabase Configuration
VITE_SUPABASE_URL=https://ovcgqweqcrfwtjtojids.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92Y2dxd2VxY3Jmd3RqdG9qaWRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4MTcxMDksImV4cCI6MjA5ODM5MzEwOX0.dSefHL6xeLOuxO1Kh5sWvpMjWYitE050PsLzGIcBTUM
